<div class="bg-white rounded-xl shadow-md p-4 m-4 mt-8 hover:translate-y-1">
  <img [src]="housingLocation.photo" alt="{{housingLocation.name}}" class="w-full h-48 object-cover rounded-t-xl mb-4">
  <div class="text-center">
    <h2 class="text-xl text-blue-500 font-bold">{{housingLocation.name}}</h2>
    <p class="text-gray-600 text-xs">{{housingLocation.city}}, {{housingLocation.state}}</p>
    <a [routerLink]="['/details', housingLocation.id]" routerLinkActive="router-link-active"
      class="block mt-2 text-sm text-red-600 hover:text-red-700 underline font-mono">Learn more...</a>
  </div>
</div>
