<div class="p-4">
  <section>
    <div class="mb-10 ml-20">
      <input type="text" placeholder="Filter by city" #filter
        class="p-2 pl-6 mt-20 ml-96 w-1/4 h-8 font-mono text-sm rounded-full shadow-xl">
      <button class="-ml-8"><img src="../../assets/logo/seach.png" alt="" class="w-5 h-5" (click)="filterResults(filter.value)"></button>
    </div>
  </section>
  <div class="grid grid-cols-3">
    <app-housing-location *ngFor="let housingLocation of filteredLocationList"
      [housingLocation]="housingLocation"></app-housing-location>
  </div>
</div>
