<div class="p-4">
  <section>
    <div class="mb-10 ml-10">
      <input
        type="text"
        placeholder="Filter by city"
        #filter
        class="p-2 pl-10 pr-8 w-72 h-10 rounded border border-gray-300 shadow-md focus:border-blue-500 focus:outline-none"
        (keyup.enter)="filterResults(filter.value)"
      >
      <button class="-ml-8">
        <img src="../../assets/logo/seach.png" alt="" class="w-5 h-5" (click)="filterResults(filter.value)">
      </button>
    </div>
  </section>
  <div class="grid grid-cols-3">
    <app-housing-location *ngFor="let housingLocation of filteredLocationList"
      [housingLocation]="housingLocation"></app-housing-location>
  </div>
</div>
